In [1]:
#Python RegEx
import re

In [32]:
#re.findall()
import re

string = 'hello 12 hi 89. How 34'
pattern = '\d+'

result = re.findall(pattern, string) 
print(result)

['12', '89', '34']

In [3]:
#re.split()
import re

string = 'Twelve:12 Eighty nine:89.'
pattern = '\d+'

result = re.split(pattern, string) 
print(result)

['Twelve:', ' Eighty nine:', '.']

In [4]:
#re.sub()
#syntax_ 
# Program to remove all whitespaces
import re

# multiline string
string = 'abc 12\
de 23 \n f45 6'

# matches all whitespace characters
pattern = '\s+'

# empty string
replace = ''

new_string = re.sub(pattern, replace, string) 
print(new_string)

abc12de23f456

In [5]:
#re.subn()

# Program to remove all whitespaces
import re

# multiline string
string = 'abc 12\
de 23 \n f45 6'

# matches all whitespace characters
pattern = '\s+'

# empty string
replace = ''

new_string = re.subn(pattern, replace, string) 
print(new_string)

('abc12de23f456', 4)

In [7]:
#re.search()_ match = re.search(pattern, str)
import re

string = "Python is fun"

# check if 'Python' is at the beginning
match = re.search('\APython', string)

if match:
  print("pattern found inside the string")
else:
  print("pattern not found")

pattern found inside the string

In [8]:
#Match object
#match.group()
import re

string = '39801 356, 2102 1111'

# Three digit number followed by space followed by two digit number
pattern = '(\d{3}) (\d{2})'

# match variable contains a Match object.
match = re.search(pattern, string) 

if match:
    print(match.group())
else:
    print("pattern not found")

801 35

In [9]:
#Using r prefix before RegEx
#Raw string using r prefix
import re

string = '\n and \r are escape sequences.'

result = re.findall(r'[\n\r]', string) 
print(result)

['\n', '\r']

In [12]:
import re
 
Nameage = '''
vinod is 22 and seema is 33
Geeta is 44 and Juie is 21
'''
 
ages = re.findall(r'd{1,3}', Nameage)
names = re.findall(r'[A-Z][a-z]*',Nameage)
 
ageDict = {}
x = 0
for eachname in name
    ageDict[eachname] = ages[x]
    x+=1
print(ageDict)

SyntaxError: invalid syntax (1248216451.py, line 13)

In [13]:
import re
 
if re.search("inform","we need to inform him with the latest information"):
    print("There is inform")

There is inform

In [14]:
import re
 
allinform = re.findall("inform","We need to inform him with the latest information!")
 
for i in allinform:
    print(i)

inform
inform

In [16]:
import re
 
Str = "Sat, hat, mat, pat"
 
allStr = re.findall("[shmp]at", Str)
 
for i in allStr:
    print(i)

hat
mat
pat

In [17]:
import re
 
Str = "sat, hat, mat, pat"
 
someStr = re.findall("[h-m]at", Str)
 
for i in someStr:
    print(i)

hat
mat

In [19]:
import re
 
randstr = '''
You Never
Walk Alone
Liverpool FC
'''
 
print(randstr)
 
regex = re.compile("")
 
randstr = regex.sub(" ", randstr)
 
print(randstr)

You Never
Walk Alone
Liverpool FC


 Y o u   N e v e r
 W a l k   A l o n e
 L i v e r p o o l   F C

In [30]:
import re

exampleString = '''
Jon is 15 years old, and Dany is 27 years old.
ash is 97 years old, and his grandfather, Oscar, is 102. 
'''

In [31]:
ages = re.findall(r'\d{1,3}',exampleString)
names = re.findall(r'[A-Z][a-z]*',exampleString)

print(ages)
print(names)

['15', '27', '97', '102']
['Jon', 'Dany', 'Oscar']